﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SinMenu.Master" AutoEventWireup="true" CodeBehind="ActivarUser.aspx.cs" Inherits="WebApplication1.ActivarUser" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceLogin" runat="server">
<form runat="server">
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    <br />
    <asp:Button ID="Button1" runat="server" Text="Activar" 
        onclick="Button1_Click" />

        </form>
</asp:Content>
