﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="ConMenu.master.cs" Inherits="WebApplication1.ConMenu" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Programacion Web III</title>
     <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
 </script>
    <!-- Custom styles for this template -->
    <link href="css/offcanvas.css" rel="stylesheet">
	<link href="css/tpfinal.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body id="tp-cuerpo-verde" >
<form id="Form1" runat="server"> 
    <div class="navbar-inverse navbar-fixed-top" role="navigation" >
      <div class="container">
        <div class="navbar-header">
          <span id="tp-letra-menu-nombre">
              <asp:Label ID="identificacionUser" runat="server" Text="Label"></asp:Label></span><br>
        </div>
        <div class="navbar-collapse collapse navbar-right">
			<small id="tp-letra-menu">Albunes </small>
                <a href="ListarAlbum.aspx"><img src="img/menu/TP-listar.png"></a>
                <a href="CrearAlbum.aspx"><img src="img/menu/TP-crear.png"></a>
			<small id="tp-letra-menu">Canciones </small>
                <a href="ListarCancion.aspx"><img src="img/menu/TP-listar.png"></a>
                <a href="CrearCancion.aspx"><img src="img/menu/TP-crear.png"></a>
              
            <asp:Button ID="logout" runat="server" Text="LogOff"  onclick="logout_Click" />
            <asp:LinkButton ID="LinkButton1" runat="server" >LogOff</asp:LinkButton>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <asp:ContentPlaceHolder ID="ContentPlaceCuerpoIndex" runat="server">
        
    </asp:ContentPlaceHolder>
    </form>
    <br/>
         <div class="footer">
      <div class="container">
        <p class="text-muted">programacionweb3</p>
      </div>
    </div>

 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <script src="offcanvas.js"></script>
</body>
</html>
