﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ConMenu.Master" AutoEventWireup="true" CodeBehind="EliminarAlbum.aspx.cs" Inherits="WebApplication1.EliminarAlbum" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceCuerpoIndex" runat="server">
Esta seguro que desea eliminar este album y todas sus canciones


<asp:Button ID="btnsi" runat="server" Text="Si" onclick="btnsi_Click" />
<asp:Button ID="btnno" runat="server" Text="No" onclick="btnno_Click" />




</asp:Content>
